body {
    margin: 0;
    font-family: 'helvetica', sans-serif;
    font-size: 16px;
    font-weight: 100;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
}

nav {
    background-color: hsla(0, 0%, 8%, .85);
    color: white;
    padding: 5px;
}
nav li {
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    box-sizing: border-box;
    transition: all .25s;
}
nav li:not(:last-child) {
    margin-right: 10px;
    padding: 0 5px;
    cursor: pointer;
}
nav li:last-child {
    margin-left: auto;
}
nav li:not(:last-child):hover {
    background-color: hsla(0, 0%, 0%, .25);
    border-bottom-color: hsl(153, 43%, 47%);
}

nav form {
    display: flex;
    flex-direction: column;
}

nav input:not([type="submit"]) {
    width: 15vw;
    min-width: 150px;
    max-width: 200px;
    margin-bottom: 2px;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    padding: 2px 4px;
    border: 1px solid hsla(0, 0%, 0%, .85);
}
nav input[type="submit"]{
    align-self: flex-end;
    border: 1px solid hsl(153, 43%, 47%);
    background-color: hsl(153, 43%, 57%);
    color: white;
    padding: 5px 15px;
    text-transform: uppercase;
}
